@import "../../../assets/styles/global.scss";

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .logo__image {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  .logo__text {
    margin: 0 25px 0 10px;
    cursor: pointer;
    font-size: 23px;
    .sql__text {  
      font-size: 30px;
      font-weight: 200;
    }
    @media #{$m-smallscreen} {
      display: none;
    }
  }

  &__file {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    @media #{$m-tablet} {
      display: none;
    }
    &:hover {
      background-color: $hover-blue;
    }
  }

  &__share {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    @media #{$m-tablet} {
      display: none;
    }
    .share__image {
      height: 20px;
      margin: 0 0.5rem;
    }
    &:hover {
      background-color: $hover-blue;
    }
  }
}
