@import "../../../assets/styles/global.scss";

.diagrams {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0 25px;
    @media #{$m-tablet} {
      display: none;
    }
    &__text {
      color: $link-color;
    }
    &__link {
      text-decoration: none;
      font-size: 19px;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }

