$nav-color : #5661B3;
$background-white: #F1F6F8;
$global-font: 'Inter', sans-serif;
$logo-font: 'Cormorant', serif;
$white: #ffff;
$link-color: #969DE9;
$text-gray: #A2AFC1;
$hover-gray: #8b96a5;
$hover-blue: #667EEA;
$background-gray: #4DB2AC;
$svg-white: invert(100%) sepia(0%) saturate(1812%) hue-rotate(278deg) brightness(110%) contrast(93%);
$svg-hover-color: invert(38%) sepia(100%) saturate(305%) hue-rotate(194deg) brightness(86%) contrast(97%);

$smallscreen: 945px;
$tablet: 768px;
$phone: 520px;
$m-tablet: "only screen and (max-width: #{$tablet + 1})";
$m-smallscreen: "only screen and (max-width: #{$smallscreen + 1})";
$m-phone: "only screen and (max-width: #{$phone + 1})";